
#container {
    width: 90vw;
    height: 90vh;
    background: #002d00 0/100% url(/black-felt.png);
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    padding: 5vh 5vw;
}

@media screen and (width >=100vh) {
    #graveyard {
        width: auto !important;
        max-height: none !important;
        height: 100%;
        max-width: 100%;
    }
}

#graveyard {
    --width: 5;
    --height: 4;
    aspect-ratio: 2/2;
    width: 100%;
    max-height: 100%;
    display: grid;
    gap: 1vw 2vw;
    grid-template-columns: repeat(var(--height), 1fr);
    grid-template-rows: repeat(calc(var(--height) / 3), 3fr 1fr 3fr);
}

.grave {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 1s linear;
}

.path {
    grid-column: 1 / calc(var(--width) + 1);
    background: #342b19 20%/20% url(/white-sand.png) ;
}

.grave-stone {
    height: 20%;
    margin: 0 5%;
    border-radius: 50% 50% 0 0;
    background: #2c2c2c calc(1.5% * var(--random)) calc(1.5% * var(--random))/150% url(/rocky-wall.png);
    border-width: 5px 0 0 0;
    border-color: #303030;
    border-style: solid;
    transform: perspective(15px) rotateX(-5deg);
    z-index: 3;
}


.grave.flipped {
    flex-direction: column-reverse;
}
.grave.hidden {
    opacity: 0;
}

.grave.flipped .grave-stone {
    transform: translateY(-30%) perspective(15px) rotateX(-5deg);
}

.grave-slab {
    border: 5px #424242 ridge;
    height: 70%;
    margin: 5% 5%;
    background: #3d3d3d calc(15% * var(--random)) calc(15% * var(--random))/150% url(/rocky-wall.png);
    z-index: 1;
}

.grave-hole {
    background: #261803 0/100% url(/wood.png);
    position: absolute;
    z-index: 0;
    top: 25%;
    bottom: 3%;
    left: 5%;
    right: 5%;
}
.grave-hole::before {
    position: absolute;
    content: "";
    background: var(--content) 0/100% no-repeat;
    display: block;
    width: 90%;
    margin: 0 5%;
    height: 100%;
    filter: grayscale(0.5);
}
.grave-hole[data-target="yes"]::before {
    filter: grayscale(1) opacity(0.5);
}

.grave.flipped .grave-hole {
    top: 3%;
    bottom: 25%;
}
.grave.empty .grave-hole::before {
    display: none;
}
.grave.complete .grave-hole::before {
    filter: grayscale(0.5);
}

.grave-slab.open {
    animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1) normal graveopen;
    transform: perspective(150px) translate(105%, 0) translateZ(10px);
    z-index: 2;
}

.grave-slab.closed {
    animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1) normal graveclose;
}

@keyframes graveopen {
    0% {
        transform: perspective(150px) translate(0, 0) translateZ(0);
    }

    40% {
        transform: perspective(150px) translate(0, 0) translateZ(10px);
    }

    100% {
        transform: perspective(150px) translate(105%, 0) translateZ(10px)
    }
}

@keyframes graveclose {
    100% {
        z-index: 2;
        transform: perspective(150px) translate(0, 0) translateZ(0);
    }

    60% {
        z-index: 2;
        transform: perspective(150px) translate(0, 0) translateZ(10px);
    }

    0% {
        z-index: 2;
        transform: perspective(150px) translate(105%, 0) translateZ(10px)
    }
}