body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}


.animated-container {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
    transform: translate(0,0);
    filter: grayscale(0.5);
}


.animated-container.a {
    display: contents;
}