body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    width: 90vw;
    height: 90vh;
    background: #002d00;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    padding: 5vh 5vw;
}

@media screen and (width >=100vh) {
    #graveyard {
        width: auto !important;
        max-height: none !important;
        height: 100%;
        max-width: 100%;
    }
}

#graveyard {
    --size: 8;
    aspect-ratio: 2/2;
    width: 100%;
    max-height: 100%;
    display: grid;
    gap: 1vw 2vw;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(calc(var(--size) / 4), 3fr 1fr 3fr);
}

.grave {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.path {
    grid-column: 1 / calc(var(--size) + 1);
    background-color: #5c4b2c;
}

.grave-stone {
    height: 20%;
    margin: 0 5%;
    border-radius: 50% 50% 0 0;
    background-color: #424242;
    border-width: 5px 0 0 0;
    border-color: #303030;
    border-style: solid;
    transform: perspective(15px) rotateX(-5deg);
    z-index: 1;
}


.grave.flipped {
    flex-direction: column-reverse;
}

.grave.flipped .grave-stone {
    transform: translateY(-30%) perspective(15px) rotateX(-5deg);
}

.grave-slab {
    border: 5px #494949 ridge;
    height: 70%;
    margin: 5% 5%;
    background-color: #424242;
}
.grave-hole {
    background-color: #20180e;
    position: absolute;
    z-index: -1;
    border: 5px inset #20180e;
    height: 100%;
}
.grave-slab.open {
    animation: 1s linear normal graveopen;
    transform: perspective(150px) translate(110%, 0) translateZ(10px) rotateY(180deg)
    
}
.grave-slab.closed {
    animation: 1s linear normal graveclose;
}
@keyframes graveopen {
    0% {
        transform: perspective(150px) translate(0, 0) translateZ(0) rotateY(0deg);
    }
    40% {
        transform: perspective(150px) translate(0, 0) translateZ(10px) rotateY(0deg);
    }
    100% {
        transform: perspective(150px) translate(110%, 0) translateZ(10px) rotateY(180deg)
    }
}
@keyframes graveclose {
    100% {
        transform: perspective(150px) translate(0, 0) translateZ(0) rotateY(0deg);
    }
    60% {
        transform: perspective(150px) translate(0, 0) translateZ(10px) rotateY(0deg);
    }
    0% {
        transform: perspective(150px) translate(110%, 0) translateZ(10px) rotateY(180deg)
    }
}