body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
#start {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    flex-direction: column;
    padding: 0 calc((100vw - 30em) / 2);
    background-color: #000a;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.animated-container {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
    transform: translate(0,0);
    filter: grayscale(0.7);
}


.animated-container.a {
    display: contents;
}